#caja1{
    background-color: greenyellow;
    position: fixed;
    z-index: 1;
    height: 100px;
}

#caja2{
    background-color:magenta;
    position: absolute;
    z-index: -1;
    left: 50px;
    top:80px;
    height: 1000px;
}
#caja1 ,#caja2{
    width: 100px;
    
}